<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Super Submitter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.rafacst.supersubmitter.callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>supersubmitter</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Rafa CST</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SSAptabaseAppKey</key>
	<string>$(APTABASE_APP_KEY)</string>
	<key>SSAptabaseHost</key>
	<string>$(APTABASE_HOST)</string>
	<key>SSEntitlementPublicKeys</key>
	<string>$(ENTITLEMENT_PUBLIC_KEYS)</string>
	<key>SSGoogleOAuthClientID</key>
	<string>$(GOOGLE_OAUTH_CLIENT_ID)</string>
	<key>SSLicensingBaseURL</key>
	<string>$(LICENSING_BASE_URL)</string>
	<key>SSSupabasePublishableKey</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SSSupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUFeedURL</key>
	<string>https://github.com/rafacst/app-super-submitter/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Tz2ycxl8EBhbHB1DwRx24yiGi0wIZvbOMeyrWncwOGI=</string>
</dict>
</plist>
